:root {
    --primary-bg: #f7fafc;
    --primary-fg: #2d3748;

    --secondary-bg: whitesmoke;
    --secondary-fg: #4a5568;

    --highlight-bg: #0d9488;

    --button-bg: #0d9488;
    --button-fg: white;
    --button-hover: #0f746b;

    --button-border: #3f3f46;
}