body{
    background-color: #F1F1F1;
}

.content{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.content > :first-child{    
    margin-left: auto;
}
.content > :last-child{    
    margin-right: auto;
}

.container{
    border: solid 1px #e1e1e1;
    background-color: white;
    border-radius: 5px;
    padding: .5rem;
}

/*
.container-simulacao{
    margin: auto;
    display: flex;
}

.container-simulacao .container{
    margin-left: 0;
}

.container-simulacao .geracao-cenarios{
    display: flex;    
    gap: .5rem;
}

.container-simulacao .item{
    margin: auto;
    padding: 0;
}
*/

.container-geracao-cenarios{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.container-geracao-cenarios .item,
.container-geracao-cenarios button{
    width: 100%;
    padding: 0;
    margin: 0 !important;
}

.container-multiplo{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.container-multiplo .botoes{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.container-comparacao{
    height: fit-content;
}

.container-dados{
    height: fit-content;
}

.container-tabela{
    overflow: auto;
    background-color: white;
}


.container .comandos{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: .5rem;
}

table{
    margin: 5px auto;
    border-spacing: 0;
    border: solid 1px gray;
}

th, 
td {
    border: solid 1px gray;
    text-align: center;
}

th{
    padding: 3px;
}

td{
    padding: 3px 2px;
}

.titulo{
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: .5rem;
    padding-top: 0;
}

.item{
    padding: .2rem 0;
}

.center{
    margin: auto;
}

.item-ref{
    background-color: #4ade80;
}

.item-infectado{
    background-color: #f87171;
}

input[type="number"]{
    width: 40px;
    height: 20px;
}

select{
    height: 30px;
}

button{
    height: 30px;
    min-width: 70px;
    padding: 0 .5rem;
    background-color: #e7e7e7;
    color: black;
    border: 1px solid darkgray;
    border-radius: 3px;
    cursor: pointer;
}

button:hover:not(.cenario-ativo){
    background-color: #d1d1d1;
}

.geracao{
    display: flex;
    gap: 1rem;
}

.geracao > *{
    margin-top: auto;
    margin-bottom: auto;
}

.item-botoes{
    display: flex;
}

.item-botoes > button{
    margin: .5rem auto ;
}

.cenario-ativo{
    background-color: #4ade80;
}